@mixin baseButton() {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}


.text-button-content {
  @include baseButton;

  font-size: 16px;
  min-width: 76px;
  min-height: 36px;
  font-weight: normal;

  &.small {
    font-size: 11px;
    font-weight: normal;
    min-width: 52px;
    min-height: 24px;
  }

  &.large {
    font-size: 16px;
    font-weight: bold;
    min-width: 79px;
    min-height: 48px;
  }

  &.disabled {
    opacity: 0.4;
  }

  &:hover {
    cursor: pointer;
  }

  &.prevent-hover {
    cursor: unset;
  }
}

.icon-button-content {
  @include baseButton;

  .icon-content {
    width: 20px;
    height: 20px;
  }

  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;


  //&.small {
  //  font-size: 11px;
  //  min-width: 53px;
  //  min-height: 24px;
  //}

  &.large {
    font-size: 16px;
    min-width: 36px;
    min-height: 36px;
    svg {
      polygon {
        width: 12px;
        height: 7px;
      }
    }

    svg {
      path {
        width: 12px;
        height: 7px;
      }
    }

  }

  &.outlined {
    border: 1px solid #dde1e6;
  }

  &:hover {
    opacity: 0.4;
    cursor: pointer;
  }

  &.prevent-hover {
    opacity: unset;
    cursor: unset;
  }

  &:active {
    opacity: 0.8;
    cursor: pointer;
  }

  &.dark-mode {
    background-color: #1e2637;
    border: solid 1px #ffffff;

    svg {
      polygon {
        fill: #ffffff;
      }
    }

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

}
