@mixin baseButton() {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}
